{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block meta_tags %}
    <!-- Author Meta -->
    <meta name="author" content="">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
{% endblock %}

{% block title_tag %}Home{% endblock %}

{% block custom_css_and_links %}{% endblock %}

{% block breadcrum %}
{% endblock %}
{% block content %}
    <h1>Home Page</h1>
{% endblock %}

{% block scripts %}{% endblock %}