{% load static %}
{% load mptt_tags %}
{% load env_extras %}
<a class="navbar-brand" href="#">
    <img src="/media/img/logo.png" alt="">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
  <ul class="navbar-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Category
        </a>
        <div class="dropdown-menu">
          {% for node in category %}
              <a class="dropdown-item" href="{{node.get_absolute_url}}">{{node.title}}</a>
          {% endfor %}
        </div>
      </li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      						
